.layout{
  overflow: hidden;
}
.location{
  padding: 18px 0;
  p{
    font-size: 10px;
    color: #747474;
    a{
      color: #747474;
    }
    span{
      color: #000;
    }
    b{
      margin: 0 8px;
    }
  }
}

.product_left{
  float: left;
  width:180px;
  overflow: hidden;
  //height:100px;
}
.category_box{
  border-bottom: 1px #ccc solid;
  width:160px;
  .all_category{
    margin: 8px 0 14px 0;
    padding:0;
    background: none;
  }
  li{
    height:15px;
    width: 140px;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 14px;
    padding-left:15px ;
    background: url("../img/category_list_bg1.png") no-repeat 4px 1px;
    cursor: pointer;
    ul{
      display: none;
      overflow: hidden;
      height: 0;
    }
  }
  .category_unfold{
    height: auto;
    background: url("../img/category_list_bg2.png") no-repeat left 4px;
    ul{
      display: block;
      margin-top: 8px;
      li{
        padding: 0;
        height:22px;
        line-height: 22px;
        margin-bottom: 0;
        background: none;
      }
    }
  }
}




.product_right{
  float: left;
  width:970px;
}
.category_explain{
  width:386px;
  height:298px;
  border:1px #EAECEB solid;
  padding:0 50px;
  h1,h2,p{
    text-align: center;
  }
  h1{
    font-size: 28px;
    margin-top: 26px;
    font-weight: bolder;
  }
  h2{
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 18px;
  }
  .c_e_text{
    font-size: 12px;
    color: #9A9A9A;
    line-height: 1.5;
    margin-bottom: 38px;
  }
  .c_e_href{
    display: flex;
    //flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding:0 20px;
    //margin-bottom: 8px;
    span{
      display: block;
      width:100px;
      a{
        font-size: 10px;
        text-align: center;
        color: #006699;
        text-decoration: underline;
      }
    }
  }
}

.product_screen{
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 61px;
  div{
    border:1px #DFDFDF solid;
    border-top:none;
    overflow: hidden;
    padding: 10px 15px;
    ul{
      float: left;
      overflow: hidden;
      width:863px;
      li{
        float: left;
      }
    }
    span{
      display: block;
      height:30px;
      line-height: 30px;
      float: left;
      width:75px;
      font-size: 12px;
      font-weight: bolder;
    }
  }
  .screen_selected{
    border: 1px #DFDFDF solid;
    background: #EAECEB;
    p{
      width:70px;
      height:30px;
      background: #000;
      color: #fff;
      line-height: 30px;
      font-size: 12px;
      text-align: center;
      float: left;
      sup{
        margin-left:10px;
        cursor: pointer;
      }
    }
  }
  .screen_sex{
    .red{
      color: #f00;
    };
    p{
      float: left;
      margin-right: 52px;
      height:30px;
      line-height: 30px;
      font-size: 12px;
      color: #666;
    }
  }
  .screen_brand{
    ul{
      overflow: hidden;
      li{
        font-size: 10px;
        width:126px;
        padding-right:10px;
        height:30px;
        line-height: 30px;
        color: #666;
      }
    }
  }
  .screen_price{
    li{
      margin-right: 50px;
      height:30px;
      font-size: 12px;
      line-height: 30px;
      color: #666;
    }
  }
  .screen_color{
    li{
      width:76px;
      font-size: 12px;
      color: #666;
      margin-bottom: 6px;
      line-height: 30px;
    }
    p{
      margin-right: 13px;
      width:22px;
      height:22px;
      border: 1px #ccc solid;
      float: left;
    }
  }
  .screen_size{
    li{
      height:30px;
      margin-right: 50px;
      font-size: 10px;
      color: #666;
      line-height: 30px;
    }
  }
  .screen_advanced{
    ul{
      .advanced_list_hover{
        margin-right: 70px;
        padding: 0;
        background: none;
      }
      li{
        position: relative;
        padding-right: 16px;
        height:50px;
        margin-right: 54px;
        font-size: 10px;
        color: #666;
        line-height: 30px;
        cursor: pointer;
        background: url("../img/screen_advanced_bg.png") no-repeat right 13px;
        p{
          width:10px;
          height:10px;
          position: absolute;
          left:0;
          right:0;
          margin: 0 auto;
          bottom:-5px;
          transform: rotate(45deg);
          border: 1px #DFDFDF solid;
          background: #fff;
          border-right: none;
          border-bottom: none;
          display: none;
        }
      }
    }
    .advanced_list {
      li {
        background: none;
        padding: 0;
      }
      padding-top: 10px;
      //padding-bottom: 0;
      border-top: 1px #DFDFDF solid;
      display: none;
    }
      }
  }
.show_product_screen{
  padding-top: 16px;
  height: 32px;
  background: #F5F7F6;
  margin-bottom: 60px;
  .s_p_s_l{
    font-size: 12px;
    width:450px;
    float: left;
  }
  b{
    margin-left: 10px;
  }
  i{
    margin-left: 23px;
    font-style: normal;
  }
  span{
    margin-left: 23px;
    color: #666;
    input{
      margin-right: 4px;
    }
  }
  .s_p_s_r{
    float: right;
    width:200px;
    font-size: 12px;
    select{
      width:44px;
      height:18px;
      border: 1px #ccc solid;
      text-align: center;
      margin-right: 10px;
      line-height: 16px;
    }
    span{
      margin-left: 40px;
      b{
        font-weight: normal;
        color: #f00;
      }
    }
  }
}
.module_last{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  li{
    margin-bottom: 69px;
    a{
      display: block;
      width: 222px;
      img{
        width: 222px;
      }
      p{
        width: 222px;
        font-size: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        margin-top: 21px;
        color: #000;
      }
      span{
        width:222px;
        font-size: 10px;
        text-align: left;
        margin-top: 15px;
        display: block;
        color: #000;
      }
      .product_list_brand{
        color: #666;
        margin-top: 9px;
      }
    }
  }
}
.product_page{
  height:44px;
  padding-top: 20px;
  overflow: hidden;
  border-top: 1px #EAECEB solid;
  p{
    width: 150px;
    float: left;
    font-size: 12px;
    color: #666;
  }
  ul{
    width:340px;
    float: right;
    display: flex;
    justify-content: space-around;
    li:nth-child(1) a{
      background: #000;
      color: #fff;
    }
    li{
      //float: left;
      a{
        display: block;
        height: 24px;
        line-height: 24px;
        padding: 0 10px;
        font-size: 12px;
        color: #000;
      }
    }
  }
}

